Project:
-----------------------
Project name          = WA38
Type                  = chloro
Genome Range          = 120000-200000
K-mer                 = 33
Max memory            = 59
Extended log          = 0
Save assembled reads  = yes
Seed Input            = Seed_RUBP_cp.fasta
Extend seed directly  = no
Reference sequence    = Msieversii.cholorplast.fasta
Variance detection    = yes
Chloroplast sequence  = 

Dataset 1:
-----------------------
Read Length           = 151
Insert size           = 300
Platform              = illumina
Single/Paired         = PE
Combined reads        = 
Forward reads         = JPQN_PCRfree_1_1_GGCTTAAG_Apple_WA38_I1177_L4_R1.trimmed.fastq.gz
Reverse reads         = JPQN_PCRfree_1_1_GGCTTAAG_Apple_WA38_I1177_L4_R2.trimmed.fastq.gz
Store Hash            =

Heteroplasmy:
-----------------------
MAF                   = 
HP exclude list       = 
PCR-free              = yes

Optional:
-----------------------
Insert size auto      = yes
Use Quality Scores    = no
Output path           = 
