profiles {
   kamiak {
      process {
         executor = "slurm"
         queue = "ficklin_class"
         clusterOptions = "--account=ficklin_class"
         withName: star {
            cpus = 10
            memory = 12.GB
         }
      }
      executor {
         queueSize = 100
     }
   }
}

